(
    schema_version: 1,
    chassis_archetype: "crab_quadruped_v1",
    move_state: "crouch",
    side: "fg",
    start: (-3.0, 14.0),
    segments: [
        (3.0, -2.0),
        (3.0, 0.0),
        (3.0, 2.0),
        (-3.0, 2.0),
        (-3.0, 0.0),
        (-3.0, -2.0),
    ],
    travel_speed: [0.2, 0.4, 0.6],
    travel_speed_multiplier: 1.0,
    push_force: 300.0,
    foot_collisions_disabled_segment: -1,
)
