(
    schema_version: 1,
    chassis_archetype: "heavy_trooper_v1",
    move_state: "jump",
    side: "fg",
    start: (0.0, 22.0),
    segments: [
        (0.0, 20.0),
        (0.0, 18.0),
    ],
    travel_speed: [0.4, 0.8, 1.2],
    travel_speed_multiplier: 1.0,
    push_force: 570.0,
    foot_collisions_disabled_segment: -1,
)
