(
    schema_version: 1,
    chassis_archetype: "powered_armor_v1",
    move_state: "arm_crawl",
    side: "bg",
    start: (-3.0, 8.0),
    segments: [
        (4.0, 0.0),
        (-4.0, 0.0),
    ],
    travel_speed: [0.15, 0.25, 0.4],
    travel_speed_multiplier: 1.0,
    push_force: 125.0,
    foot_collisions_disabled_segment: -1,
)
