(
    schema_version: 1,
    chassis_archetype: "powered_armor_v1",
    move_state: "walk",
    side: "bg",
    start: (-3.0, 20.0),
    segments: [
        (-5.0, 3.0),
        (-5.0, 0.0),
        (-5.0, -3.0),
        (5.0, -3.0),
        (5.0, 0.0),
        (5.0, 3.0),
    ],
    travel_speed: [0.5, 0.85, 1.2],
    travel_speed_multiplier: 1.0,
    push_force: 200.0,
    foot_collisions_disabled_segment: -1,
)
